.nav
  %ul.ffeatures
    %li
      %h3= link_to_front "Features", 'features'
  %ul.fpricing
    %li
      %h3= link_to_front "Pricing &amp; Signup", 'pricing'
  %ul.fabout
    %li
      %h3= link_to_front "About", 'about'
  %ul.fhelp
    %li
      %h3= link_to_front "Help", 'help'
      %ul
        %li
          %h5
            %a{ :href => "http://community.recessapp.com", :title => "Get satisfaction here" } GetSatisfaction
  %ul.fblog
    %li
      %h3= link_to "Blog", "http://www.recessapp.com/blog"
  %ul.fbenefits
    %li
      %h3 Benefits
    %li
      %h5= link_to_front "Business Owners", 'business_owners'
    %li
      %h5= link_to_front "Marketers", 'marketers'
    %li
      %h5= link_to_front "Guests", 'guests'