!!! Strict
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    = render :partial => "shared/head"
    = javascript_include_tag "webapp"
  %body.popup
    #webapp-modal.jqmWindow-wide  
      .content
        .top-bar
          %h2.demo-description.png= @page_title = 'Recess desktop application'
        .webappContent
          = render :partial =>  "/guests/webapp_content"
    = render :partial => "/shared/confirmation"