                <div id="cta">
                    <div id="left">
                        <h3><%= link_to "Business Owners", url_for(:action => 'business_owners') %></h3>
                        <ul>
                            <li>Significant Cost Reduction</li>
                            <li>Efficient Waitlist Management</li>
                            <li>Advanced Paging Functionality</li>
                            <li class="last-child"><%= link_to "More for Owners", url_for(:action => 'business_owners') %></li>
                        </ul>

                    </div>
                    <div id="middle">
                        <h3><%= link_to "Marketers", url_for(:action => 'marketers') %></h3>
                        <ul>
                            <li>Opt-In Direct Marketing</li>
                            <li>Advanced Tracking</li>
                            <li>Simple Marketing Interface</li>
                            <li class="last-child"><%= link_to "More for Marketers", url_for(:action => 'marketers') %></li>
                        </ul>
                    </div>
                    <div id="right">
                        <h3><%= link_to "Guests", url_for(:action => 'guests') %></h3>
                        <ul>
                            <li>Privacy Guaranteed</li>
                            <li>Freedom to Roam</li>
                            <li>No More Dirty, Bulky Pagers</li>
                            <li class="last-child"><%= link_to "More for Guests", url_for(:action => 'guests') %></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>