                <div id="subpage-top-content">
                    <div id="subpage-main">
                        <div id="subpage-header">
                            <div class="big-header">
                                <h1 class="<%= yield :header_class %> png"><%= header %></h1>
                            </div>
                            <div class="top-header">
                                <div class="<%= yield :header_class %>">icon</div>
                                <h2 class="<%= yield :header_class %>"><%= yield :description_header %></h2>
                            </div>
                        </div>
                        <div id="subpage-left">