%ul.png
  %li= link_to_front "Features", 'features', :class => "no-bg"
  %li=  link_to_front "Pricing &amp; Signup", 'pricing', :class => "no-icon png"
  %li=  link_to_front "About", 'about', :class => "no-icon png"
  %li=  link_to_front "Help", 'help', :class => "no-icon last-item png"
  %li.blog.png= link_to "Blog", "http://www.recessmobile.com/blog", :class => 'blog'