%ul
  %li= link_to 'Locations',      locations_path
  %li= link_to 'Users',          '/users'
  %li= link_to 'Edit account',   edit_account_url
  - unless @account.locally_registered?
    %li= link_to 'Change plan',  plan_account_url
  %li= link_to 'Billing info',   billing_account_url
  %li= link_to 'Cancel plan',    cancel_account_url